<h1>
 <%= @user.username %>'s Page
</h1>

<h2>Comments</h2>

<% @comments.each do |c| %>
"<%= c.body  %>", says <%= c.author.username %>
<%= button_to 'delete comment', comment_url(c), method: :delete %><br>
<% end %>

<h2>Add Comment</h2>

<form class="" action="<%= user_comments_url(@user) %>" method="post">
  <%= auth_token %>

  <label for="user_comment">Comment</label>
  <br>
  <input id="user_comment" type="text" name="comment[body]" value="">
  <br>
  <br>
  <input type="submit" name="" value="Add Comment">
</form>
