<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <% user = current_user %>
  <% if !user.nil? %>
    <p>Weclome <%= user.username %></p>
    <p>You are currently loged in here: <%= user.device %></p>
    <%= button_to 'Log Out', session_url, method: :delete %>
  <% else %>
    <!-- implement a way to not show this on the actual login page -->
    <%= button_to 'Log In', new_session_url, method: :get %>
  <% end %>

    <%= yield %>
  </body>
</html>
