<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnbApp</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyASqqCQ54V5Cuti0B2-CrfT1crEyx8SpAE" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


<!-- AIzaSyASqqCQ54V5Cuti0B2-CrfT1crEyx8SpAE -->
